.calendar {
  text-align: center;
}

.day {
  padding: 4px 0;
}

.today {
  padding: 4px 0;
  background: #fd6d0d;
  color: #ffffff;
  border-radius: .25rem !important;
}

@media (max-width: 575px) {
  ul.pagination li:not(:first-child):not(:last-child) {
    font-size: 0.75rem;
    line-height: 2;
  }
}
